* {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    background-color:  #EFF6E0;
  }
  img{ float:left;
    width:400px;
    height:260px;
    border:10px solid black;
  }
  #name {
    width: 900px;
    border: 10px solid rgba(17, 219, 207,0.8); ;
    padding: 10px;
    margin: 22px;
    height:220px;
    background-color:black;
    color:white;
    float:right;
  }
  h2
  {
    font-size:60px;
    color:black;
  }
  h3{
    
    color:white;
  }
  h1
  {
    font-size:30px;
    color:white;
  }
  
  