body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.content-container {
    height: 1000px;
    width: 100%;
}

.navbar {
    background-color: rgba(223, 124, 124, 0.5); 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height : 65px;
}

.navbar-logo {
    background-color: transparent;
}
.navbar-logo img{
    margin-left: -10px;
    height : 100px;
    width: 230px;
}
.navbar-features {
    margin-right: 10px;
}

.navbar-features a {
    margin-right: 30px;
    font-size: 14px;
    color: white;
    font-family:  "Apple Chancery", cursive;
    text-decoration: none;
}


.main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.left-box {
    border-radius: 5px;
    background-color: rgba(223, 124, 124, 0.5);
    height: 400px;
    width : 400px;
    text-align: center;
    margin-top: -70px;
    margin-left: 200px;
}

.left-box p {
    font-size: 20px;
    color: white;
}
.left-box h2{
    font-size: 50px;
    font-family: Papyrus, fantasy;
    color : white;
}
.left-box button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.left-box img{
    margin-left: -550px;
    height: 200px;
    width : 200px;
}
.right-box img {
    height: 500px;
    width: 350px;
    margin-right: 150px;
    border-radius: 5px;
}

.boy img{
    height : 400px;
}




footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(223, 124, 124, 0.5); 
    padding: 1px;
}

.contact-details {
    text-align: center;
    margin-top: -40px;
    margin-left: 150px;
}
.contact-details h3 {
    font-size: 30px;
    font-family: Papyrus, fantasy;
    color : white;
}
.contact-details p {
    font-size: 16px;
    margin-bottom: 25px;
    font-family:  "Apple Chancery", cursive;
    text-align: left ;
    color : white;
}

.features{
    text-align: center;
    margin-left: -150px;
    margin-top: 40px;
    color : white;
}  
.features h3 {
    font-size: 30px;
    font-family: Papyrus, fantasy;
    color : white;
}
.features p {
    font-size: 16px;
    margin-bottom: 15px;
    font-family:  "Apple Chancery", cursive;
    text-align: left ;
    color : white;
}  

.social-media-container h3{
    font-size: 30px;
    margin-top: -100px;
    margin-left: -150px;
    font-family: Papyrus, fantasy;
    color : white;   
}
.social-media {
    color : white;
}
.social-media-container a {
    text-decoration: none;
    margin-right: 50px;
}
#copyright {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    margin-left: 600px;
}
